/* COLORES

Blanco: F0F8FF
Blanco hueso: F0E3CE
Dorado suave: EDCA85
Dorado fuerte: E2B354
Celeste claro: 849CAF
Celeste dark: 3A4A68

*/

/* GENERAL */

body {
  background-color: #FFFFFF; /* Fondo del sitio que no es parte de la invitación */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centra la invitación horizontalmente */
  font-family: 'Arial', sans-serif;
}

.invitacion-container {
    background-color: #FFFFFF; /* Fondo de la invitación */
    width: 100%;
    max-width: 800px; /* Ancho máximo de una tablet pequeña/celular grande */
    min-height: 100vh; /* Que siempre ocupe todo el alto */
    box-shadow: 0 0 50px rgba(0,0,0,0.1); /* Sombra elegante para separar del fondo */
    position: relative;
}

/* Estilos de ejemplo para el contenido */
.contenido {
    text-align: center;
}


/* PORTADA DE BIENVENIDA */

.logo-boda {
  padding-top: 200px;
  padding-bottom: 175px;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.circulos-oro {
    position: absolute;
    width: 325px;
    height: 325px;
    border: 2px solid #E2B354;
    border-radius: 50%;
}

.circulos-oro::after {
    content: '';
    position: absolute;
    top: 4px; left: 4px;
    width: 310px; height: 310px;
    border: 1px solid #E2B354;
    border-radius: 50%;
}

.nombres-container {
    text-align: center;
    color: #849CAF;
    z-index: 3;
}

.nombre-fuente {
    font-family: 'Special Elite', cursive;
    font-size: 4rem;
    margin: 0;
    font-weight: 400;
}

.ampersand {
    font-size: 1.5rem;
    display: block;
    margin: -10px 0;
}

.rama-sup {
  top: 50px;
  left: -100px;
  width: 100px;
  transform-origin: bottom right;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  animation: viento-superior 3s ease-in-out infinite alternate;
  animation-delay: 0.7s;
}

.rama-inf {
  bottom: 25px;
  right: 0px;
  width: 110px;
  transform-origin: top left;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  animation: viento-inferior 3s ease-in-out infinite alternate;
  animation-delay: 0.7s;
}

/* Animación de viento */
@keyframes viento-inferior {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(4deg); }
}

@keyframes viento-superior {
    0% { transform: rotate(110deg); }
    100% { transform: rotate(105deg); }
}


/* NOS CASAMOS Y FECHA */

.nos-casamos {
  text-align: center;
  font-family: 'Special Elite', cursive;
  color: #E2B354;
  
  margin-bottom: 50px;
}

.nos-casamos h1 {
  font-size: 2.5rem;
}


/* IMAGEN PRINCIPAL */

img.portada {
    width: 100%;
    height: auto;
}


/* CÓDIGO DE VESTIMENTA */

.vestimenta {
  margin-top: 100px;
}

.vestimenta-titulo {
  font-family: 'Pinyon Script', cursive;
  font-size: 3rem;
  color: #E2B354;
  top: 50%;
  left: 50%;
  white-space: nowrap;
}

.vestimenta-subtitulo {
  font-family: 'Pinyon Script', serif;
  font-size: 1.3rem;
  letter-spacing: 2px;
  display: inline-block;
  margin-bottom: 25px;
}

.paleta-colores {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 15px; /* Espacio entre los círculos */
}

.color-circulo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1); /* Bordecito sutil por si el color es muy claro */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra suave para dar relieve */
}

@media (max-width: 480px) {
    .color-circulo {
        width: 25px;
        height: 25px;
    }
    .paleta-colores {
        gap: 10px;
    }
}

.vestimenta-iconos {
    display: flex;
    justify-content: center;
    gap: 0px; /* Espacio entre el traje y el vestido */
}

.icono-item {
    flex: 0 1 150px; /* Controla el ancho máximo de cada icono */
}

.img-vestimenta-hombre {
    width: 37%;
    height: auto;
}

.img-vestimenta-mujer {
    width: 55%;
    height: auto;
}


/* ITINERARIO */

.itinerario {
    margin-top: 100px;
}

.titulo-itinerario {
    font-family: 'Pinyon Script', cursive;
    font-size: 3rem;
    color: #3A4A68;
    margin-bottom: 50px;
}

.timeline {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

.linea-punteada {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    border-left: 2px dotted #B6C5D5;
    transform: translateX(-50%);
}

.timeline-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
}

.side { width: 45%; }
.image-side img { width: 75px; }

.img-right { text-align: left; padding-left: 40px; }
.img-left { text-align: right; padding-right: 40px; }

.text-right { text-align: left; padding-left: 40px; }
.text-left { text-align: right; padding-right: 40px; }

.hora {
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    display: block;
}

.evento-nom {
    font-family: 'Special Elite', cursive;
    margin: 0;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #849CAF;
    border-radius: 50%;
    z-index: 5;
    flex-shrink: 0;
}

@media (max-width: 480px) {
    .side { width: 42%; }
}


/* ÁLBUM DE FOTOS */

.fotos-google {
  margin-top: 100px;
}

.titulo-album-fotos {
    font-family: 'Pinyon Script', cursive;
    font-size: 3rem;
    color: #E2B354; 
}

.texto-album-fotos {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: sans-serif;
}

.btn-photos {
    background-color: #ffffff;
    color: #444;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 600;
    display: inline-block;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.btn-photos:hover {
    background-color: #f8f9fa;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.12);
    border-color: #ccc;
}


/* COUNTDOWN */

.fecha-contador {
    position: relative;
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
}

.foto-fondo-contador {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que la imagen no se deforme */
    display: block;
}

.overlay-suave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35); /* Capa para que se lea el texto */
    display: flex;
    justify-content: center;
    align-items: center;
}

.corazon-canva {
  font-size: 2rem;
  margin-bottom: 5px;
}

.anio-canva {
  font-family: 'Playfair Display', serif;
  letter-spacing: 3px;
  font-size: 2rem;
}

.titulo-faltan {
  font-size: 1rem;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 2rem;
  margin: 30px 0 0;
}

.contador-contenido {
    text-align: center;
    color: #FFFFFF;
    z-index: 5;
}

.reloj-canva {
  display: flex;
  justify-content: center; gap: 15px;
}

.unidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75px;
}

.numero {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem; line-height: 1;
  display: inline-block;
  width: 100%;             /* Asegura que use todo el ancho de .unidad */
  font-variant-numeric: tabular-nums;
}

.etiqueta {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 10px;
  letter-spacing: 1px;
}


/* IMÁGENES */

/* Contenedor de las imágenes */
.images-container {
  display: flex;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  height: auto; /* Ocupa toda la altura de la ventana */
  margin: 0;
  margin-top: 50px;
  padding: 0;
  justify-content: space-between; /* Asegura que haya espacio entre las imágenes en pantallas grandes */
}

/* Estilo para los enlaces */
.images-link {
  display: block;
  flex: 1; /* Hace que cada enlace ocupe el mismo espacio */
  height: 100%; /* Ocupa toda la altura */
  padding: 0; /* Elimina cualquier espacio extra alrededor de la imagen */
  margin: 0; /* Elimina márgenes que puedan causar espacio extra */
  overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
}

/* Estilo para las imágenes */
.images {
  width: 100%; /* Las imágenes ocuparán el 100% del espacio del contenedor */
  height: 100%; /* Las imágenes ocuparán toda la altura del contenedor */
  object-fit: contain; /* Asegura que las imágenes se ajusten dentro del contenedor sin cortarse */
}


/* CONFIRMACIÓN */

.contact-container{
  margin-top: 100px;
}

.logo-contact {
  margin: 0 auto 20px auto;
  max-width: 150px;
}

.label-contact-header{
  color: #192e5a;
}

.social-links {
  display: flex;
  gap: 15px; /* Espacio entre íconos */
  margin-top: 10px;
}

.social-icon {
  text-decoration: none;
  color: #333; /* Color inicial del ícono */
  font-size: 30px; /* Tamaño de los íconos */
  transition: transform 0.3s, color 0.3s;
}

@media (hover: hover) {
  .social-icon:hover {
    transform: scale(1.2); /* Agranda el ícono al pasar el cursor */
    color: #026322; /* Cambia de color al hacer hover */
  }
}


/* CONTACTO-FORMULARIO */

.google-form-iframe {
  width: 100%;
  height: 100vh;
}